<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudentView</title>
</head>
<body>
아이디: <span th:text="${student.id}"></span><br>
비밀번호: <span th:text="${student.pwd}"></span><br>
이름: <span th:text="${student.name}"></span><br>
이메일: <span th:text="${student.email}"></span><br>
성적: <span th:if="${isHide == null}" th:text="${student.score}"></span><br>
평가: <span th:if="${isHide == null}" th:text="${student.rating}"></span><br>
<a th:href="@{/student/{id}/modify(id=${student.id})}">수정하기</a> <br/>
<a th:href="@{/student/{id}(id=${student.id},hideScore='yes')}">Hide Score</a> <br/>
<a th:href="@{/student/{id}(id=${student.id})}">Show Score</a> <br/>
<a href="/student/register">새로 등록하기</a>
</body>
</html>