<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>학생 등록</title>
</head>
<body>
<form method="post" action="/student/register">
    아이디: <input type="text" name="id" th:value="${student != null ? student.id : ''}"/><br />
    비밀번호: <input type="password" name="pwd" th:value="${student != null ? student.pwd : ''}"/><br />
    이름: <input type="text" name="name" th:value="${student != null ? student.name : ''}"/><br />
    이메일: <input type="text" name="email" th:value="${student != null ? student.email : ''}"/><br />
    성적: <input type="number" name="score" th:value="${student != null ? student.score : ''}"/><br />
    평가: <textarea name="rating" rows="10" cols="80" th:text="${student != null ? student.rating : ''}" th:inline="text"></textarea><br />
    <input type="submit" />
</form>
<a href="/login">돌아가기</a>
</body>
</html>
